@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
  background-color: rgb(51, 51, 51);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 100vh 0 100vh rgb(53, 53, 53);
}
body {
  /* le somary violet fa unie */
  background-image: linear-gradient(209deg, rgba(104, 104, 104, 0.2),rgba(98, 98, 98, 0.2)),linear-gradient(45deg, rgb(72, 72, 72) 0%,rgb(0, 0, 0) 11%,rgb(144, 144, 144) 16%,rgb(24, 24, 24) 17%,rgb(120, 120, 120) 71%,rgb(48, 48, 48) 94%,rgb(96, 96, 96) 100%);



  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.Terminal
{
  background-image: linear-gradient(209deg, rgba(104, 104, 104, 0.2),rgba(98, 98, 98, 0.2)),linear-gradient(45deg, rgb(72, 72, 72) 0%,rgb(0, 0, 0) 11%,rgb(144, 144, 144) 16%,rgb(24, 24, 24) 17%,rgb(120, 120, 120) 71%,rgb(48, 48, 48) 94%,rgb(96, 96, 96) 100%);

}
.Transition
{
  background-image: linear-gradient(209deg, rgba(77,74,74, 0.2),rgba(65,61,61, 0.2)),linear-gradient(45deg, rgb(72, 72, 72) 0%,rgb(40,40,40) 11%,rgb(40,40,40) 16%,rgb(40,40,40) 17%,rgb(40,40,40) 71%,rgb(48, 48, 48) 94%,rgb(79,79,79) 100%);
  box-shadow: 0 0 10px white;
  box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.75) inset;
}
.test{
  background-image: linear-gradient(209deg, rgba(77,74,74, 0.2),rgba(65,61,61, 0.2)),linear-gradient(45deg, rgb(72, 72, 72) 0%,rgb(40,40,40) 11%,rgb(40,40,40) 16%,rgb(40,40,40) 17%,rgb(40,40,40) 71%,rgb(48, 48, 48) 94%,rgb(79,79,79) 100%);
}
.cv{
  background-image: linear-gradient(209deg, rgba(104, 104, 104, 0.2),rgba(98, 98, 98, 0.2)),linear-gradient(45deg, rgb(72, 72, 72) 0%,rgb(0, 0, 0) 11%,rgb(144, 144, 144) 16%,rgb(24, 24, 24) 17%,rgb(120, 120, 120) 71%,rgb(48, 48, 48) 94%,rgb(96, 96, 96) 100%);

}
/* le otran hazo orange iny tio */
/* background-image: repeating-linear-gradient(90deg, rgba(13, 13, 13,0.09) 0px, rgba(13, 13, 13,0.09) 36px,rgba(229, 229, 229,0.09) 36px, rgba(229, 229, 229,0.09) 72px,transparent 72px, transparent 108px,rgba(163, 163, 163,0.09) 108px, rgba(163, 163, 163,0.09) 144px,rgba(21, 21, 21,0.09) 144px, rgba(21, 21, 21,0.09) 180px),repeating-linear-gradient(90deg, rgba(0,0,0,0.08) 0px, rgba(0,0,0,0.08) 14px,transparent 14px, transparent 28px,rgba(0,0,0,0.08) 28px, rgba(0,0,0,0.08) 42px,transparent 42px, transparent 56px,rgba(0,0,0,0.08) 56px, rgba(0,0,0,0.08) 70px),repeating-linear-gradient(90deg, rgba(0,0,0,0.08) 0px, rgba(0,0,0,0.08) 23px,transparent 23px, transparent 46px,rgba(0,0,0,0.08) 46px, rgba(0,0,0,0.08) 69px,transparent 69px, transparent 92px,rgba(0,0,0,0.08) 92px, rgba(0,0,0,0.08) 115px),repeating-linear-gradient(90deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 6px,transparent 6px, transparent 12px,rgba(0,0,0,0.04) 12px, rgba(0,0,0,0.04) 18px,transparent 18px, transparent 24px,rgba(0,0,0,0.04) 24px, rgba(0,0,0,0.04) 30px),linear-gradient(90deg, rgb(212, 109, 30),rgb(176, 117, 193)); */

/* le misy teboka kely bedebe */
/* background-image: radial-gradient(circle 7px at 23% 62%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 7px at 25% 58%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 7px at 57% 71%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 5px at 65% 94%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 5px at 22% 15%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 5px at 22% 76%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 5px at 66% 78%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 5px at 12% 17%, rgb(56,56,56) 0%, rgb(56,56,56) 50%,transparent 50%, transparent 100%),radial-gradient(circle 12px at 73% 76%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),radial-gradient(circle 12px at 84% 91%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),radial-gradient(circle at bottom left, rgb(35,35,35) 0%, rgb(35,35,35) 10%,transparent 10%, transparent 90%),linear-gradient(135deg, rgb(28, 37, 233),rgb(61, 215, 224)); */

/* le misy cerlce */
/* background-image: radial-gradient(circle at 10% 8%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 87% 45%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 9% 67%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 31% 83%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 46% 54%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 16% 24%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 18% 9%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 85% 69%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 55% 7%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 69% 69%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 68% 60%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(3, 7, 46),rgb(24, 44, 146)); */

/* le violet otran 'ny bambou*/
/* background-image: linear-gradient(196deg, rgba(88, 7, 152, 0.2),rgba(64, 188, 165, 0.2)),linear-gradient(135deg, rgb(101, 60, 220) 0%,rgb(63, 47, 113) 18%,rgb(89, 56, 184) 25%,rgb(50, 42, 78) 49%,rgb(25, 33, 7) 55%,rgb(114, 65, 255) 57%,rgb(76, 51, 149) 68%,rgb(38, 38, 42) 100%); */

.mihodina
{
  animation: miho infinite 0.15s;
}

@keyframes miho {
  100% {
    transform: rotate(-180deg);
  }

}
.scrollbar-hide::-webkit-scrollbar
{
  display: none;
}
.scrollbar-hide
{
  -ms-overflow-style: none;
  scrollbar-width: none;
}